.heading {
    text-align: center;
    margin-bottom: 60px;
}

.all-products {
    margin: 60px 0;
}
.all-products .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}


@media (min-width: 992px) {
    .all-products .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }
}

@media (max-width: 550px) {
    .all-products .wrapper {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr;
    }
    .all-products .wrapper .dot-image {
        display: flex;
        justify-content: center;
    }
}